table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    flex-direction: column;
    animation-name: animatetop;
    animation-duration: 1s;
}

td,
th {
    border: 1px solid;
    padding: 0.5em;
}

.smallColumns {
width: 5%;
}

.mediumColumns {
    width: 20%;
}

.largeColumns {
    width: 25%;
}

.actionsColumn {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.actionsColumn button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.6em;
    border: 0;
    background-color: black;
    color: cornflowerblue;
}

.actionsColumn i {
    font-size: large;
    color: cornflowerblue;
  }
  