table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    flex-direction: column;
    animation-name: animatetop;
    animation-duration: 1s;
}

td,
th {
    border: 1px solid;
    padding: 0.5em;
}

.actionsColumn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.actionsColumn button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: black;
    color: cornflowerblue;
    width: 1.9em;
    height: 1.9em;
}

i {
    font-size: large;
    color: cornflowerblue;
  }
  