@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  scroll-behavior: smooth;
  outline: 0;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 4em;
  width: 60em;
  border: 1px solid white;
}

/* The header section */
header {
    display: flex;
    justify-content: space-between;
    margin: 0.3em;
    padding: 0.3em;
    height: 3.5em;
}

.field-aria {
    position: relative;
}

/* These buttons below refer to the search trigger as well as the clear inputs action  */
.filterActions {
  border: 0;;  
  width: 1.4em;
    height: 1.4em;
    background-color: black;
    font-size: 20px;
}

.filterActions i {
    color: cornflowerblue;
}

/* The warning message  */
.warn-aria {
    position: absolute;
    top: 45px;
    animation-name: animatecenter;
    animation-duration: 0.5s;
}

.warn-aria i,
.warn-aria span {
    color: red;
}

#searchField {
    width: 30em;
}

input,
select {
  margin: 0.3em;
  padding: 12px;
  border: 1px solid #f3f3f3;
}

input:hover,
select:hover,
input:focus,
select:focus {
  border: 1px solid cornflowerblue;
}

label {
  margin: 0.5em;
}

button {
  background-color: cornflowerblue;
  width: 10%;
  padding: 0.3em;
  margin: 0.3em;
  border-radius: 30%;
  cursor: pointer;
  transition: filter 0.3s;
}

button:hover,
button:focus {
  filter: brightness(0.6);
}

i {
  margin-right: 0.3em;
}

/* The warning message  */
.warn-aria {
  position: absolute;
  top: 45px;
  animation-name: animatecenter;
  animation-duration: 0.5s;
}

.warn-aria-form {
  margin: 0.3em;
}

.warn-aria i,
.warn-aria span,
.warn-aria-form i,
.warn-aria-form span {
  color: red;
}

/* A custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: cornflowerblue;
    border-radius: 10px;
}

/* The animations  */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animatecenter {
  from {
    center: -300px;
    opacity: 0
  }

  to {
    center: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
  }
}
