@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  outline: 0;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 4em;
  width: 60em;
  border: 1px solid white;
}

input,
select {
  margin: 0.3em;
  padding: 12px;
  border: 1px solid #f3f3f3;
}

input:hover,
select:hover,
input:focus,
select:focus {
  border: 1px solid cornflowerblue;
}

button {
  background-color: cornflowerblue;
  width: 10%;
  padding: 0.3em;
  margin: 0.3em;
  border-radius: 30%;
  cursor: pointer;
  transition: filter 0.3s;
}

button:hover,
button:focus {
  filter: brightness(0.6);
}

i {
  margin-right: 0.3em;
}